In [14]:
import pandas as pd
import numpy as np
import xlsxwriter
import datetime
from datetime import datetime
import openpyxl
import mysql.connector

import dtale

In [15]:
# Connecting to the server
def open_conn():
    conn = mysql.connector.connect(user='root', password='vini1985',
                              host='127.0.0.1', database='budget_data_2024_25',
                              auth_plugin='mysql_native_password')
    print("DB Connection Opened!")
    return conn
 
# Disconnecting from the server
def close_con(conn):
    conn.close()
    print("DB connection closed")

In [16]:
query = "select count(*) from salary_budget_2024_25"

In [17]:
conn = open_conn()
mycursor = conn.cursor()
mycursor.execute(query)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

close_con(conn)

DB Connection Opened!
(0,)
DB connection closed

In [18]:
path = "Budget_Files_2024-25/Appendix-B_2024-25_For_CCs.xlsx"

In [19]:
df = pd.DataFrame(columns=['ulb_name', 'ulb_hrms_code', 'emp_id', 'pension_type', 'pran', 'emp_name', 'gender', 'designation',
                           'payscale_min', 'payscale_max', 'basic_pay', 'basic_pay_for_year', 'increment_month', 'increment_rate',
                           'increment_for_year', 'basic_incrnt_total', 'da_for_year', 'hra_for_year', 'ma_for_year',
                           'ua_pk_spcl_for_year','cca_for_year', 'other_allowance_type', 'oa_amount_for_year',
                           'surrender_leave_encash','nps_contr_for_year', 'total'])

In [20]:
# load excel with its path
wrkbk = openpyxl.load_workbook(path, data_only=True)
  
sh = wrkbk.active

# iterate through excel and display data
list = []
for i in range(9, 3008):
    list.insert(0,sh.cell(4,4).value) # type: ignore
    list.insert(1,sh.cell(4,24).value) # type: ignore
    if sh.cell(row=i, column=2).value == None: # type: ignore
        break
    else:
        for j in range(2, 26):
            if j==26:
                cell_obj = sh.cell(row=i, column=j).value # type: ignore
                break
            else:
                cell_obj = sh.cell(row=i, column=j).value # type: ignore
                # print(type(cell_obj),cell_obj)
                if type(cell_obj) == 'str':
                    list.insert(j,"'" + cell_obj + "'")
                elif cell_obj == '-':
                    list.insert(j, 0)
                else:
                    list.insert(j, cell_obj)
            
    # print(list)
    list[12] = pd.to_datetime(list[12]).date()
    df.loc[len(df)] = list # type: ignore
    print(list)
    list=[]

['Tumakuru', '2201CC0123', 911254678, 'OPS', None, 'sdfsdfsdfd', 'F', 'PK', 17000, 28950, 17000, 204000, datetime.date(2024, 7, 1), 400, 3600, 207600, 91344, 16608, 2400, 8400, 4800, 'PP', 1200, 13148, 0, 345500]
['Tumakuru', '2201CC0123', 911257426, 'NPS', 110145623852, 'dsdfsdfsd', 'M', 'CAUO', 74400, 109600, 74400, 892800, datetime.date(2025, 1, 1), 1900, 5700, 898500, 395340, 71880, 0, 0, 6000, 'SFN', 1500, 56905, 181137.6, 1611262.6]
['Tumakuru', '2201CC0123', 911121651, 'NPS', 123456789123, 'sxdfcsdfd', 'F', 'RO', 43100, 83900, 43100, 517200, datetime.date(2025, 1, 1), 1100, 3300, 520500, 229020, 41640, 0, 0, 3434, 'SFN', 1500, 32965, 104932.8, 933991.8]

In [ ]:
# d = dtale.show(df)
# d

In [22]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

# Create engine
engine = create_engine('mysql://root:vini1985@localhost/budget_data_2024_25')

# Create the connection and close it(whether successed of failed)
with engine.begin() as connection:
  df.to_sql(name='salary_budget_2024_25', con=connection, if_exists='append', index=False)